<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.crud">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity">

        </activity>

        <activity android:name=".NoteActivity">
            <intent-filter>
                <action android:name="android.intent.action.EDIT"></action>
            </intent-filter>
        </activity>
        
        <activity android:name=".AmapActivity">

        </activity>
        
        <meta-data
                android:name="com.amap.api.v2.apikey"
                android:value="6682a26f075939907135497718a41940"/>
    </application>

</manifest>